<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      本网站由华昕拥有和运营<br>
      <a>联系方式：lighthx@gmail.com</a>
    </div>
  </div>
</footer>
